@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,700&family=Fraunces:opsz,wght@9..144,900&family=Kanit:ital,wght@0,300;0,600;1,400;1,700;1,900&family=Metal+Mania&family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,500;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;1,200&family=Nunito:ital,wght@1,300;1,400;1,800&family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,800;1,900&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,700&family=Fraunces:opsz,wght@9..144,900&family=Kanit:ital,wght@0,300;0,600;1,400;1,700;1,900&family=Metal+Mania&family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,500;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;1,200&family=Nunito:ital,wght@1,300;1,400;1,800&family=Playfair+Display+SC:wght@700&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,800;1,900&family=Raleway&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.container {
  width: 1120px;
  margin: 0 auto;

}

.header {
  background-image: url(../img/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 840px;
  position: relative;
}

.header_logo {
  position: absolute;
  top: 1%;
  left: 1%;
}

.nav-bar {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}



.nav-bar img {
  position: relative;
}



ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  gap: 40px;
}


ul li a {
  position: relative;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;




}


label #btn,
label #cancel {
  position: absolute;
  right: 30px;
  font-size: 15px;
  cursor: pointer;
  display: none;
  color: white;
  font-size: 40px;
}

#check {
  display: none;
}

.header_title {
  width: 556px;
  height: 109px;
  margin: auto;
  margin-top: 225px;
  text-align: center;
  /* position: relative; */
}

.header_title h1 {
  width: 556px;
  height: 109px;
  text-align: center;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #D4C17F;
}

.header_title img {
  margin-top: 100px;
}


.title_contact {
  width: 800px;
  display: flex;
  align-items: center;
  gap: 0px;
  margin: 0 auto;
  margin-top: 250px;
  margin-left: 300px;
  gap: 100px;
}

.location {
  display: flex;
  align-items: center;
  gap: 15px;
  /* margin: auto; */
}

.phone_num {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title_contact p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;

}

/* objects */

.object {
  height: 500px;
  background-color: #242B33;
  position: relative;
}

.bg_img {
  width: 100%;
  position: absolute;
}

.bg_img img {
  width: 200px;
}

.num_two {
  position: absolute;
  top: 60%;
  right: 0%;
}

.num_three {
  position: absolute;
  top: 120%;
  left: -5%;
}

.object_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  margin-top: 120px;
  width: 200px;
  text-align: center;
}

.box p {
  padding-top: 53px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.first_p {
  width: 193px;
  height: 47px;
  text-align: center;
}

.middle_p {
  width: 133px;
  height: 47px;
  margin: auto;
}

.last_p {
  width: 124px;
  height: 47px;
  margin: auto;
}

/* Appartmen section */

.appartmen {
  background-color: #242B33;

}

.appart_title h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
}

.appartmen P {
  padding: 240px 50px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.top_img {
  margin-top: 100px;
}

.top_img,
.bottom_foto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom_foto {
  margin-top: 30px;
}

.first_foto {
  width: 100%;
  height: 320px;
  background: url(../img/Rectangle\ \(1\).png);
  background-repeat: no-repeat;

}

.second_foto {
  width: 100%;
  height: 320px;
  background: url(../img/Rectangle\ \(2\).png);
  background-repeat: no-repeat;
}

.third_foto {
  width: 100%;
  height: 320px;
  background: url(../img/Rectangle\ \(3\).png);
  background-repeat: no-repeat;
}

.third_foto {
  width: 100%;
  height: 320px;
  background: url(../img/Rectangle\ \(4\).png);
  background-repeat: no-repeat;

}

.fourth_foto {
  width: 100%;
  height: 320px;
  background: url(../img/Rectangle\ \(4\).png);
  background-repeat: no-repeat;
}

/* Appartmen End */


/* inform  */

.inform {
  background: url("../img/info-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  /* background-position: 10%; */
  height: 800px;

}

.inform_wrapper {
  padding-top: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.form_title h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;

}

.form_title p {
  padding-top: 50px;
  width: 535px;
  height: 114px;
  left: 405px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.info_contact input {
  margin-top: 100px;
  margin-left: 20px;
  width: 255px;
  height: 50px;
  background: #ffffffcd;
  opacity: 0.5;
  text-align: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #c9bebec6;
  outline: 0;
}


.info_title {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info_title P {
  /* margin-top: 50px; */
  width: 255px;
  height: 28px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #E7E7E7;
}

.info_title button {
  margin-left: 50px;
  width: 255px;
  height: 50px;
  background: #D4C17F;
  outline: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;

}

/* Vide -start */

.video {
  margin-top: 191px;
  background-color: #242B33;
  margin: auto;
  position: relative;
}

.video video {
  margin-left: 200px;
}

.video_bg {
  position: absolute;
  top: 30%;
  left: 65%;
}

.street_map {
  position: relative;
  background-color: #242B33;
}

.street_map h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;

}

.street_map img {
  padding-top: 100px;

}

.street_bg {
  position: absolute;
  left: 5%;
}

/* quastion section */
.quastion {
  background-color: #242B33;
  height: 500px;
}

.question_form {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.quastion h2 {
  padding-top: 180px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
}

.question_form p {
  width: 255px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #E7E7E7;

}

.question_form input {
  margin: 0px 10px;
  width: 255px;
  height: 50px;
  background: #FFFFFF;
  opacity: 0.2;
  text-align: center;
  border: none;
  outline: 0;
}

.question_form button {
  width: 255px;
  height: 50px;
  background: #D4C17F;
  color: #fff;
  border: none;
}

/* footer-start */

footer {
  background-color: #2D343C;
}

.wrrap {
  /* padding-top: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab_first {
  padding-top: 100px;
}

.tab_first span {
  color: #D4C17F;
}

.tab_first p {
  padding: 10px 0px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;

  color: #FFFFFF;

}

.footer_social {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}


@media (max-width: 768px) {

  label #btn {
    top: 4%;
    right: 5%;
    display: inline-block;
  }

  .nav-bar img {
    width: 120px;
  }

  .wrrap-nav {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 55%;
    height: 150vh;
    padding-top: 80px;
    display: block;
    line-height: 20px;
    z-index: 100;
    background-color: whitesmoke;
    transition: 0.5s;

  }

  ul {
    display: flex;
    flex-direction: column;

  }


  ul li a {

    color:
      rgb(146, 138, 138);
  }


  ul {
    border: 0;
  }

  #check:checked~.wrrap-nav {
    right: 0;
  }

  #check:checked~label #btn {
    display: none;
  }

  #check:checked~label #cancel {
    display: block;
    z-index: 101;
    color: #FFFFFF;

  }

  ul li a:hover {
    color: #DBA833;
  }

  .header {
    width: 768px;
  }

  .header_title {
    width: 480px;

  }

  .container {
    width: 700px;

  }

  .header_title img {
    padding-top: 110px;
  }

  .header_title h1 {
    width: 480px;
    height: 50px;
    font-weight: 700;
    font-size: 55px;
    line-height: 54px;
  }

  .title_contact {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 350px;
    gap: 30px;

  }

  .title_contact p {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;

  }

  /* header-end */


  /* Appartemn start */

  .appartmen {
    width: 768px;
    padding-top: 200px;
  }

  .num_two {
    display: none;
  }

  .num_three {
    display: none;
  }

  .object_box img {
    width: 50px;
  }

  .box p {

    padding-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #882929;
  }

  .appart_title {
    padding: 0;
    text-align: center;
  }

  .appart_title h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 30px;
    color: #D4C17F;
  }

  .top_img,
  .bottom_foto {
    flex-direction: column;
  }

  .first_foto,
  .second_foto,
  .third_foto,
  .fourth_foto {
    width: 380px;
    height: 300px;
    padding: 0;

  }

  .second_foto {
    margin-top: 30px;
  }

  .fourth_foto {
    margin-top: 30px;
  }

  .top_img p {
    font-size: 13px;
  }

  .bottom_foto p {
    font-size: 13px;
  }

  .num_two {
    display: none;
  }

  .num_three {
    display: none;
  }

  .object {
    width: 768px;
  }

  .object_box {

    flex-direction: column;
  }

  .object_box img {
    width: 50px;
  }

  .box p {

    padding-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
  }



  .appart_title h2 {
    padding-top: 40px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 30px;
    color: #D4C17F;
  }

  .top_img,
  .bottom_foto {
    flex-direction: column;
  }

  .first_foto,
  .second_foto,
  .third_foto,
  .fourth_foto {
    width: 380px;
    height: 300px;
    padding: 0;

  }

  .second_foto {
    margin-top: 30px;
  }

  .fourth_foto {
    margin-top: 30px;
  }

  .top_img p {
    padding: 260px 8px;
    font-size: 18px;
  }

  .bottom_foto p {
    padding: 260px 8px;
    font-size: 18px;
  }

  /* inform-medi start */
  .inform {
    width: 768px;

  }

  .inform_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .form_title h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 48px;
    color: #D4C17F;
    text-align: center;

  }

  .form_title p {
    padding-top: 50px;
    width: 335px;
    height: 114px;
    left: 405px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
  }

  form {
    margin-top: 180px;
  }

  .info_contact input {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;

  }

  .info_title {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .info_title button {
    margin: 0;
    margin-top: 40px;
    width: 200px;
    font-size: 13px;
  }

  .question_form {
    flex-direction: column;



  }

  .quastion {
    width: 768px;
    height: 800px;
  }

  .question_form p {
    font-size: 20px;
    line-height: 34px;

  }

  .question_form form {
    margin: 0;
  }

  .question_form button {
    margin-left: 30px;
  }

  .question_form form input {
    margin: 0;
    margin: 20px 30px;
    width: 250px;

  }

  /*end  */


  /* video-start */

  .video video {

    padding-top: 40px;
  }

  .video_bg {
    display: none;
  }


  .street_map {
    width: 375px;
    height: 300px;
  }

  .street_map img {
    width: 300px;
  }

  .street_bg {
    display: none;
  }

  /* question section  start*/



  /*end  */


  /* video-start */
  .video {
    width: 768px;
    height: 400px;
  }

  .video video {
    width: 300px;
    padding-top: 40px;
  }

  .video_bg {
    display: none;
  }


  .street_map {
    width: 768px;
    height: 300px;

  }

  .street_map img {
    width: 600px;
    margin-left: 60px;
  }

  .street_bg {
    display: none;
  }

  /* footer-start */

  footer {
    width: 768px;
    padding-top: 30px;
    background-color: #2D343C;
    height: 1000px;
  }

  .wrrap {
    /* padding-top: 50px; */
    flex-direction: column;
  }

  .tab_first {
    display: flex;
    flex-direction: column;
  }

  .tab_first span {
    color: #D4C17F;
  }

  .tab_first p {
    padding: 10px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFF;

  }

  .footer_social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .footer_social {
    justify-content: center;
  }





}

/* header Media satrt */
@media (max-width: 340px) {

  label #btn {
    top: 4%;
    right: 5%;
    display: inline-block;
  }


  .nav-bar img {
    width: 120px;
  }

  .wrrap-nav {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 55%;
    height: 150vh;
    padding-top: 80px;
    display: block;
    line-height: 20px;
    z-index: 100;
    background-color: whitesmoke;
    transition: 0.5s;

  }

  ul {
    display: flex;
    flex-direction: column;

  }



  .header {
    width: 340px;
    height: 800px;
  }

  .appartmen {
    width: 375px;
  }

  .object {
    width: 340px;
    height: 800px;
  }

  ul li a {

    color:
      rgb(146, 138, 138);
  }


  ul {
    border: 0;
  }

  #check:checked~.wrrap-nav {
    right: 0;
  }

  #check:checked~label #btn {
    display: none;
  }

  #check:checked~label #cancel {
    display: block;
    z-index: 101;
    color: #FFFFFF;

  }

  ul li a:hover {
    color: #DBA833;
  }

  .header_title {
    width: 280px;
    margin-top: 3000px;
  }

  .header_title img {
    padding-top: 40px;
  }


  .title_contact {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 350px;
    gap: 30px;

  }

  .title_contact p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;

  }

  /* header-end */


  /* Appartemn start */




  .num_two {
    display: none;
  }

  .num_three {
    display: none;
  }



  .object_box {
    width: 300px;
    flex-direction: column;
  }

  .object_box img {
    width: 50px;
  }

  .box p {

    padding-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
  }

  .appart_title {
    padding: 0;
    text-align: center;
  }

  .appart_title h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 30px;
    color: #D4C17F;
  }

  .top_img,
  .bottom_foto {
    flex-direction: column;
  }

  .first_foto,
  .second_foto,
  .third_foto,
  .fourth_foto {
    width: 280px;
    height: 300px;
    padding: 0;

  }

  .second_foto {
    margin-top: 30px;
  }

  .fourth_foto {
    margin-top: 30px;
  }

  .top_img p {
    /* padding: 280px 20px; */
    font-size: 13px;
  }

  .bottom_foto p {
    font-size: 13px;
  }

  .num_two {
    display: none;
  }

  .num_three {
    display: none;
  }

  .object_box img {
    width: 50px;
  }

  .box p {

    padding-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
  }

  .appart_title {
    padding: 0;
    text-align: center;
  }

  .appart_title h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 30px;
    color: #D4C17F;
  }

  .top_img,
  .bottom_foto {
    flex-direction: column;
  }

  .first_foto,
  .second_foto,
  .third_foto,
  .fourth_foto {
    width: 280px;
    height: 300px;
    padding: 0;

  }

  .second_foto {
    margin-top: 30px;
  }

  .fourth_foto {
    margin-top: 30px;
  }

  .top_img p {
    /* padding: 280px 20px; */
    font-size: 13px;
  }

  /* inform-medi start */
  .inform {
    width: 375px;
  }

  .container {
    width: 300px;
  }

  .inform_wrapper {
    padding-top: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .form_title h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 48px;
    color: #D4C17F;
    text-align: center;

  }

  .form_title p {
    padding-top: 50px;
    width: 335px;
    height: 114px;
    left: 405px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
  }

  form {
    margin-top: 180px;
  }

  .info_contact input {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;

  }

  .info_title {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .info_title button {
    margin: 0;
    margin-top: 40px;
    width: 200px;
    font-size: 15px;
  }

  /* question section  start*/


  .quastion {
    width: 375px;
    text-align: center;
  }

  .question_form {
    flex-direction: column;

  }

  .question_form p {
    font-size: 20px;
    line-height: 34px;

  }

  .question_form form {
    margin: 0;
  }

  .question_form form input {
    margin: 0;
    margin: 20px 0px;

    width: 250px;

  }

  /*end  */


  /* video-start */
  .video {
    width: 375px;
    height: 400px;
  }

  .video video {
    width: 300px;
    margin: 0;
    padding-top: 40px;
  }

  .video_bg {
    display: none;
  }

  .container {
    width: 300px;
  }

  .street_map {
    width: 375px;
    height: 300px;
  }

  .street_map img {
    width: 300px;
    margin: 0 auto;
    margin-right: 200px;
  }

  .street_bg {
    display: none;
  }

  /* footer-start */

  footer {
    width: 375px;
    padding-top: 300px;
    background-color: #2D343C;
  }

  .wrrap {
    /* padding-top: 50px; */
    flex-direction: column;
  }

  .tab_first {
    display: flex;
    flex-direction: column;
  }

  .tab_first span {
    color: #D4C17F;
  }

  .tab_first p {
    padding: 10px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFF;

  }

  .footer_social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .footer_social {
    justify-content: center;
  }




}






@media (max-width: 376px) {
  .container {
    width: 300px;
  }

  label #btn {
    top: 4%;
    right: 5%;
    display: inline-block;
  }


  .nav-bar img {
    width: 120px;
  }

  .wrrap-nav {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 55%;
    height: 150vh;
    padding-top: 80px;
    display: block;
    line-height: 20px;
    z-index: 100;
    background-color: whitesmoke;
    transition: 0.5s;

  }

  ul {
    display: flex;
    flex-direction: column;

  }



  .header {
    width: 375px;
    height: 800px;
  }

  .appartmen {
    /* width: 375px; */
  }

  .object {
    width: 375px;
    height: 800px;
  }

  ul li a {

    color:
      rgb(146, 138, 138);
  }


  ul {
    border: 0;
  }

  #check:checked~.wrrap-nav {
    right: 0;
  }

  #check:checked~label #btn {
    display: none;
  }

  #check:checked~label #cancel {
    display: block;
    z-index: 101;
    color: #FFFFFF;

  }

  ul li a:hover {
    color: #DBA833;
  }

  .header_title {
    width: 280px;
    margin-top: 100px;
  }

  .header_title img {
    padding-top: 110px;
  }

  .header_title h1 {
    width: 280px;
    height: 50px;
    font-weight: 700;
    font-size: 38px;
    line-height: 54px;
  }

  .title_contact {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 350px;
    gap: 30px;

  }

  .title_contact p {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;

  }

  /* header-end */


  /* Appartemn start */


  .num_two {
    display: none;
  }

  .num_three {
    display: none;
  }

  .object_box img {
    width: 50px;
  }

  .box p {

    padding-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #882929;
  }

  .appart_title {
    padding: 0;
    text-align: center;
  }

  .appart_title h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 30px;
    color: #D4C17F;
  }

  .top_img,
  .bottom_foto {
    flex-direction: column;
  }

  .first_foto,
  .second_foto,
  .third_foto,
  .fourth_foto {
    width: 280px;
    height: 300px;
    padding: 0;

  }

  .second_foto {
    margin-top: 30px;
  }

  .fourth_foto {
    margin-top: 30px;
  }

  .top_img p {
    font-size: 13px;
  }

  .bottom_foto p {
    font-size: 13px;
  }

  .num_two {
    display: none;
  }

  .num_three {
    display: none;
  }



  .object_box {
    width: 300px;
    flex-direction: column;
  }

  .object_box img {
    width: 50px;
  }

  .box p {

    padding-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
  }



  .appart_title h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 30px;
    color: #D4C17F;
  }

  .top_img,
  .bottom_foto {
    flex-direction: column;
  }

  .first_foto,
  .second_foto,
  .third_foto,
  .fourth_foto {
    width: 280px;
    height: 300px;
    padding: 0;

  }

  .second_foto {
    margin-top: 30px;
  }

  .fourth_foto {
    margin-top: 30px;
  }

  .top_img p {
    padding: 260px 8px;
    font-size: 18px;
  }

  .bottom_foto p {
    padding: 260px 8px;
    font-size: 18px;
  }

  /* inform-medi start */
  .inform {
    width: 375px;
  }

  .container {
    width: 300px;
  }

  .inform_wrapper {
    padding-top: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .form_title h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 48px;
    color: #D4C17F;
    text-align: center;

  }

  .form_title p {
    padding-top: 50px;
    width: 335px;
    height: 114px;
    left: 405px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
  }

  form {
    margin-top: 180px;
  }

  .info_contact input {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;

  }

  .info_title {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .info_title button {
    margin: 0;
    margin-top: 40px;
    width: 200px;
    font-size: 13px;
  }

  .quastion {
    width: 375px;
    text-align: center;
  }

  .question_form {
    flex-direction: column;

  }

  .question_form p {
    font-size: 20px;
    line-height: 34px;

  }

  .question_form form {
    margin: 0;
  }

  .question_form form input {
    margin: 0;
    margin: 20px 0px;

    width: 250px;

  }

  /*end  */


  /* video-start */
  .video {
    width: 375px;
    height: 400px;
  }

  .video video {
    width: 300px;
    margin: 0;
    padding-top: 40px;
  }

  .video_bg {
    display: none;
  }

  .container {
    width: 300px;
  }

  .street_map {
    width: 375px;
    height: 300px;
  }

  .street_map img {
    width: 300px;
  }

  .street_bg {
    display: none;
  }

  /* question section  start*/


  .quastion {
    width: 375px;
    text-align: center;
  }

  .question_form {
    flex-direction: column;

  }

  .question_form p {
    font-size: 20px;
    line-height: 34px;

  }

  .question_form form {
    margin: 0;
  }

  .question_form form input {
    margin: 0;
    margin: 20px 0px;

    width: 250px;

  }

  /*end  */


  /* video-start */
  .video {
    width: 375px;
    height: 400px;
  }

  .video video {
    width: 300px;
    margin: 0;
    padding-top: 40px;
  }

  .video_bg {
    display: none;
  }

  .container {
    width: 300px;
  }

  .street_map {
    width: 375px;
    height: 300px;
  }

  .street_map img {
    width: 300px;
  }

  .street_bg {
    display: none;
  }

  /* footer-start */

  footer {
    width: 375px;
    padding-top: 300px;
    background-color: #2D343C;
  }

  .wrrap {
    /* padding-top: 50px; */
    flex-direction: column;
  }

  .tab_first {
    display: flex;
    flex-direction: column;
  }

  .tab_first span {
    color: #D4C17F;
  }

  .tab_first p {
    padding: 10px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFF;

  }

  .footer_social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .footer_social {
    justify-content: center;
  }





}

@media (max-width:480px) {


  label #btn {
    top: 4%;
    right: 5%;
    display: inline-block;
  }


  .nav-bar img {
    width: 120px;
  }

  .wrrap-nav {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 55%;
    height: 150vh;
    padding-top: 80px;
    display: block;
    line-height: 20px;
    z-index: 100;
    background-color: whitesmoke;
    transition: 0.5s;

  }

  ul {
    display: flex;
    flex-direction: column;

  }



  .header {
    width: 480px;
    height: 800px;
  }

  .appartmen {
    width: 480px;
  }

  .object {
    width: 480px;
    height: 800px;
  }

  ul li a {

    color:
      rgb(146, 138, 138);
  }


  ul {
    border: 0;
  }

  #check:checked~.wrrap-nav {
    right: 0;
  }

  #check:checked~label #btn {
    display: none;
  }

  #check:checked~label #cancel {
    display: block;
    z-index: 101;
    color: #FFFFFF;

  }

  ul li a:hover {
    color: #DBA833;
  }

  .header_title {
    width: 280px;
    margin-top: 100px;
  }

  .header_title img {
    padding-top: 110px;
  }

  .header_title h1 {
    width: 280px;
    height: 50px;
    font-weight: 700;
    font-size: 38px;
    line-height: 54px;
  }

  .title_contact {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 350px;
    gap: 30px;

  }

  .title_contact p {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;

  }

  /* header-end */


  /* Appartemn start */


  .num_two {
    display: none;
  }

  .num_three {
    display: none;
  }

  .object_box img {
    width: 50px;
  }

  .box p {

    padding-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #882929;
  }

  .appart_title {
    padding: 0;
    text-align: center;
  }

  .appart_title h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 30px;
    color: #D4C17F;
  }

  .top_img,
  .bottom_foto {
    flex-direction: column;
  }

  .first_foto,
  .second_foto,
  .third_foto,
  .fourth_foto {
    width: 380px;
    height: 300px;
    padding: 0;

  }

  .second_foto {
    margin-top: 30px;
  }

  .fourth_foto {
    margin-top: 30px;
  }

  .top_img p {
    font-size: 13px;
  }

  .bottom_foto p {
    font-size: 13px;
  }

  .num_two {
    display: none;
  }

  .num_three {
    display: none;
  }



  .object_box {
    flex-direction: column;
  }

  .object_box img {
    width: 50px;
  }

  .box p {

    padding-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
  }



  .appart_title h2 {
    padding-top: 40px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 30px;
    color: #D4C17F;
  }

  .top_img,
  .bottom_foto {
    flex-direction: column;
  }

  .first_foto,
  .second_foto,
  .third_foto,
  .fourth_foto {
    width: 380px;
    height: 300px;
    padding: 0;

  }

  .second_foto {
    margin-top: 30px;
  }

  .fourth_foto {
    margin-top: 30px;
  }

  .top_img p {
    padding: 260px 8px;
    font-size: 18px;
  }

  .bottom_foto p {
    padding: 260px 8px;
    font-size: 18px;
  }

  /* inform-medi start */
  .inform {
    width: 480px;

  }

  .inform_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .form_title h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 48px;
    color: #D4C17F;
    text-align: center;

  }

  .form_title p {
    padding-top: 50px;
    width: 335px;
    height: 114px;
    left: 405px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
  }

  form {
    margin-top: 180px;
  }

  .info_contact input {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;

  }

  .info_title {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .info_title button {
    margin: 0;
    margin-top: 40px;
    width: 200px;
    font-size: 13px;
  }

  .question_form {
    flex-direction: column;



  }

  .quastion {
    width: 480px;
    height: 800px;
  }

  .question_form p {
    font-size: 20px;
    line-height: 34px;

  }

  .question_form form {
    margin: 0;
  }

  .question_form button {
    margin-left: 30px;
  }

  .question_form form input {
    margin: 0;
    margin: 20px 30px;
    width: 250px;

  }

  /*end  */


  /* video-start */

  .video video {
    width: 480px;
    margin: 0;
    padding-top: 40px;
  }

  .video_bg {
    display: none;
  }

  .container {
    width: 300px;
  }

  .street_map {
    width: 375px;
    height: 300px;
  }

  .street_map img {
    width: 300px;
  }

  .street_bg {
    display: none;
  }

  /* question section  start*/



  /*end  */


  /* video-start */
  .video {
    width: 480px;
    height: 400px;
  }

  .video video {
    width: 300px;
    margin: auto;
    padding-top: 40px;
  }

  .video_bg {
    display: none;
  }

  .container {
    width: 300px;
  }

  .street_map {
    width: 480px;
    height: 300px;
  }

  .street_map img {
    width: 400px;
    padding-right: 90px;
  }

  .street_bg {
    display: none;
  }

  /* footer-start */

  footer {
    width: 480px;
    padding-top: 30px;
    background-color: #2D343C;
    height: 1000px;
  }

  .wrrap {
    /* padding-top: 50px; */
    flex-direction: column;
  }

  .tab_first {
    display: flex;
    flex-direction: column;
  }

  .tab_first span {
    color: #D4C17F;
  }

  .tab_first p {
    padding: 10px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFF;

  }

  .footer_social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .footer_social {
    justify-content: center;
  }




}